<mat-card>
  <ng-container class="stats-table-container">
    <mat-table #table [dataSource]="dataSource" class="stats-table">
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- ID Column -->
      <ng-container matColumnDef="year">
        <mat-header-cell *matHeaderCellDef class="header-cell"> Season </mat-header-cell>
        <mat-cell *matCellDef="let row" class="data-cell"> {{row.year}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="gamesPlayed">
        <mat-header-cell *matHeaderCellDef class="header-cell"> Games </mat-header-cell>
        <mat-cell *matCellDef="let row" class="data-cell"> {{row.gamesPlayed}} </mat-cell>
      </ng-container>

      <!-- Progress Column
      <ng-container matColumnDef="progress">
        <mat-header-cell *matHeaderCellDef class="header-cell"> Progress </mat-header-cell>
        <mat-cell *matCellDef="let row" class="data-cell"> {{row.progress}}% </mat-cell>
      </ng-container>

       Name Column -->
      <!-- <ng-container matColumnDef="userName">
        <mat-header-cell *matHeaderCellDef class="header-cell"> Name </mat-header-cell>
        <mat-cell *matCellDef="let row" class="data-cell"> {{row.name}} </mat-cell>
      </ng-container> -->

      <!-- Color Column -->
      <!-- <ng-container matColumnDef="color">
        <mat-header-cell *matHeaderCellDef class="header-cell">Color</mat-header-cell>
        <mat-cell *matCellDef="let row" class="data-cell"
                  [style.color]="row.color">
          {{row.color}}
        </mat-cell>
      </ng-container> -->

      <mat-header-row *matHeaderRowDef="displayedColumns" class="header-row"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" class="data-row"></mat-row>
    </mat-table>
  </ng-container>
</mat-card>
