<div>
  <mat-toolbar color="primary">
    <a class="home-route" routerLink="/" routerLinkActive="active">
      <span>NHL Stat Tracker</span>
    </a>
    <span class="toolbar-spacer"></span>
    <!-- <button mat-button routerLink="/settings" routerLinkActive="active">
      <mat-icon class="toolbar-icon">account_circle</mat-icon>
    </button> -->
    <button mat-raised-button color="accent">Sign in</button>
  </mat-toolbar>

  <nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="/stats" routerLinkActive="active">Stats</a>
    <a mat-tab-link routerLink="/standings" routerLinkActive="active">Standings</a>
    <a mat-tab-link routerLink="/teams" routerLinkActive="active">Teams</a>
    <a mat-tab-link routerLink="/games" routerLinkActive="active">Games</a>
    <a mat-tab-link routerLink="/articles" routerLinkActive="active">Articles</a>
  </nav>

  <div class="app-container">
    <router-outlet></router-outlet>
  </div>
</div>
