<div>
  <mat-toolbar color="primary">
    <span>NHL Stat Tracker</span>
    <span class="toolbar-spacer"></span>
    <mat-icon class="toolbar-icon">favorite</mat-icon>  <!-- Replace -->
    <mat-icon class="toolbar-icon">delete</mat-icon>    <!-- Replace -->
  </mat-toolbar>

  <nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="/" routerLinkActive="active">Home</a>
    <a mat-tab-link routerLink="/teams" routerLinkActive="active">Teams</a>
    <a mat-tab-link routerLink="/games" routerLinkActive="active">Games</a>
    <a mat-tab-link routerLink="/settings" routerLinkActive="active">Settings</a>
  </nav>

  <div class="app-container">
    <router-outlet></router-outlet>
  </div>
</div>
