@import '~@angular/material/theming';
@include mat-core();

$hs-primary: mat-palette($mat-grey, 800);
$hs-accent:  mat-palette($mat-light-blue, 500);
$hs-warn:    mat-palette($mat-red, 500);

$hs-theme: mat-light-theme($hs-primary, $hs-accent, $hs-warn);

@include angular-material-theme($hs-theme);
